/* :root {
  --swiper-navigation-sides-offset: -200px;
} */

body {
  margin: 0;
  font-family: "PT Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
div, section {
  box-sizing: border-box;
}
